.hero {
    background: url('/static/images/bg_image.jpg') center / cover;
}
.navbar-brand {
    font-size: 150%;
    font-family: Arial, sans-serif;
    font-weight: bold;
}
.navbar-item {
    font-weight: bold;
}

h1.title {
    color: white;
}

h2.sign-up {
    color: white;
    font-weight: bold;
}

.contact {
    bottom: 0;
    position: absolute;
    padding: 10px;
    text-align: center;
    width: 100%;
}
.contact h3 {
    color: #4a4a4a;
    font-weight: bold; 
}

.contact-details {
    color: #4a4a4a;
    font-size: 12px;
    font-weight: bold;
}

.container patient {
    background-color: #1d6d86;
}
.patient-body {
    background-color: #EFEFEF;
}
.patient-footer {
    height: 10px;
}
.user-background {
    background-color: #F8F8F8;
}
/* footer style*/
.footer {
    background-color: #e6e5e5;
    padding: 3rem 3rem 3rem;
}
/*Doctor page style*/
.container .view-reports {
    padding: 6rem 6rem;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-color: white;
    border-radius: 10px;
    margin-top: 60px;
    margin-bottom: 60px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.container .view-reports-page {
    padding: 6rem 6rem;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-color: white;
    border-radius: 10px;
    margin-top: 60px;
    margin-bottom: 60px;
}
.view-reports-button {
    margin-top: 30px;
}
.report {
   flex: 20%;
   padding: 10px;
   margin: 5px;
   background-color: #f3f3f3;
   inline-size: 100%;
   position: relative;
   top: 0;
   transition: top ease 0.5s;
}
.report:hover {
    top: -5px;
}
.report a {
    color: #4C4E52;
}
/*patient page style*/
.container .upload-reports {
    padding: 6rem 6rem;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-color: white;
    border-radius: 10px;
    margin-top: 40px;
    margin-bottom: 40px;
}
.upload-reports-button {
    margin-top: 30px;
}
.alert-primary {
    color: #004085;
    background-color: #cce5ff;
    border-color: #b8daff
}
.alert {
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem
}
input {
    cursor: pointer;
}
.name {
    text-transform: capitalize;
}
