{% extends "base.html" %}

{%block content%}
<div>
    <h1 class ="title">Accurate Medical <br> Report Interpretation </h1>
    <h2 class ="sign-up">Sign Up</h2> <br>
    <div class="field is-grouped">
        <p class="control">
            <a href="{{ url_for('auth.signup') }}"> <button class="button is-link is-rounded" name="signup_doctor">
                As Doctor</button> </a>
        </p>
        <p class="control">
            <a href="{{ url_for('auth.signup') }}"> <button class="button is-link is-rounded" name="signup_patient">
                As Patient</button> </a>
        </p>
    </div>
</div>
{%endblock%}
