{% extends "users.html" %}

{%block content%}
<div class="container upload-reports">
     {% with messages = get_flashed_messages() %}
         {% if messages %}
               {% for message in messages %}
                <div class="alert alert-primary">
                    <strong>{{ message }}</strong>
                </div>
               {% endfor %}
         {% endif %}
      {% endwith %}
  <h1 class="">Upload Medical reports</h1> <br>
    <p> Upload image or text document </p> <br>
   {% if filename %}
        <div>
            <img src="{{ url_for('main.display_file', filename=filename) }}">
        </div>
   {% endif %}
   <form method="POST" action="" enctype="multipart/form-data">
       <input type="file" name="file" multiple> <br>
        <br>
      <input type="submit" value="Submit" class="button is-primary">
   </form>
<!--  <div class="upload-reports-button">-->
<!--    <button class="button is-primary">Upload Medical Report</button>-->
<!--  </div>-->
</div>
{%endblock%}
