{% extends "users.html" %}

{%block content%}

    <div class="container view-reports">
<!--        <h1 class="title" style="color: black;">{% block title %} View reports {% endblock %}</h1>-->
        {% for report in reports %}
            <div class="report">
                <a href="{{ url_for('main.display_file', filename=filename) }}">

                    <p class="name">Patient name: {{ report.user.name }}</p>
                    <p>Created at: {{ report.created_at }}</p>
                </a>
            </div>
        {% endfor %}
    </div>
{%endblock%}
